@keyframes grow-then-shrink {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100%   {
		transform: scale(1);
	}
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
}
#alert-container {
	padding: 0;
	position: fixed;
	left: 0;
	top: 48px;
	width: 100%;
}
#alert {
	background-color: #333;
	border-radius: 5px;
	color: white;
	display: none;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	width: 350px;
}
#board {
	padding-top: 40px;
}
.row {
	margin: 3px auto;
	width: 345px;
}
.tile {
	border: 2px solid rgba(220,220,220);
	box-sizing: border-box;
	font-size: 32px;
	margin: 3px;
	height: 62px;
	padding-top: 4px;
	text-align: center;
	width: 62px;
}
.correct {
	background-color: #6AA964;
	color: white;
}
.wrong-place {
	background-color: #C9B458;
	color: white;
}
.bad-guess {
	background-color: #787C7E;
	color: white;
}
.guess {
	animation-duration: 0.3s;
	animation-name: grow-then-shrink;
	animation-iteration-count: 1;
	border: 2px solid rgba(80,80,80);
}
#keyboard {
	margin: 25px auto;
	width: 600px;
}
.keyboard-row {
	display: flex;
	margin: 10px auto;
	width: 100%;
}
button {
	font-family: inherit;
	font-weight: bold;
	border: 0;
	padding: 0;
	margin: 0 6px 0 0;
	height: 58px;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
	background-color: rgb(211,214,218);
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	min-width: 40px;
}
.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity 1s linear;
}

@keyframes grow-and-fade {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(30);
	}
}
.grow-and-fade {
	animation-duration: 1s;
	animation-name: grow-and-fade;
	animation-iteration-count: 1;
}

#loser {
	position: fixed;
	left: calc(50% - 50px);
	top: calc(50% - 100px);
	opacity: 0;
}
#loser img {
	height: 100px;
}
